* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

button {
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
}
